<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>todolistApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40000A222B7CC9A800B8A82E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40000A322B7CC9AB00B8A82E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40000A3C2B7CC9AB00B8A82E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
